.product {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  font-size: 18px;

  .controls {
    display: flex;
    width: 90px;
    justify-content: space-around;
    padding: 5px;
    background: #eee;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-weight: bold;

    button {
      background: white;
      border: 1px solid #bbb;
      border-radius: 2px;
    }
  }
}

/* colors:
smoke   #f1edec
slate   #4e7482
plum    #413e4a
dusk    #73626e 
coral   #b38184
peach   #f0b49e
*/
