@import "../../styles/colors";

.accordion {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 1080px;
  transition: height 250ms ease-in;

  &.-collapsed {
    height: 400px;
  }

  &.-has-active-tab > div {
    height: 10%;

    h2 {
      color: rgba($smoke, 0.5);
    }

    &.-expanded {
      height: 70%;
    }
  }
}
